:root{
    --e-global-color-primary:#002768;
    --e-global-color-secondary:#F5F7FC;
    --e-global-color-text:#6C757D;
    --e-global-color-accent:#BE0B32;
    --e-global-color-white:#FFFFFF;
    --e-global-color-black:#000000;

    --e-global-typography-primary-font-family:'Afacad', sans-serif;
    --e-global-typography-secondary-font-family:'Afacad', sans-serif;
    --e-global-typography-text-font-family:'Afacad', sans-serif;
    --e-global-typography-accent-font-family:'Afacad', sans-serif;

    --e-global-typography-primary-font-size:58px;
    --e-global-typography-secondary-font-size:24px;
    --e-global-typography-text-font-size:16px;
    --e-global-typography-accent-font-size:18px;

    --e-global-typography-primary-font-weight:700;
    --e-global-typography-secondary-font-weight:700;
    --e-global-typography-text-font-weight:400;
    --e-global-typography-accent-font-weight:600;

    --e-global-typography-primary-line-height:1.2em;
    --e-global-typography-secondary-line-height:1.3em;
    --e-global-typography-text-line-height:1.6em;
    --e-global-typography-accent-line-height:1.4em;
}

.elementor-4109 .elementor-element.elementor-element-29d9911 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overlay-opacity: 1;
    --padding-top: 90px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-29d9911:not(.elementor-motion-effects-element-type-background),
.elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-4109 .elementor-element.elementor-element-29d9911::before,
.elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-video-container::before,
.elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-video-container::before,
.elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-slideshow::before,
.elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-slideshow::before,
.elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-image: url("../../2024/12/cta-bg-shape.svg");
    --background-overlay: '';
    background-position: -53px 100%;
    background-repeat: no-repeat;
    background-size: 15% auto;
}

.elementor-4109 .elementor-element.elementor-element-5c1e99c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --flex-wrap: wrap;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-d389fb4 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-4109 .elementor-element.elementor-element-9b8a242 {
    text-align: start;
}

.elementor-4109 .elementor-element.elementor-element-9b8a242 img {
    width: 100%;
    max-width: 130px;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-4109 .elementor-element.elementor-element-c6e6271>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-4109 .elementor-element.elementor-element-c6e6271 {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-3231f30>a :is(i,
svg) {
    color: var( --e-global-color-white);
    fill: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-3231f30>a {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-darkdivider);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-3231f30>a:hover {
    color: var( --e-global-color-accent);
    background-color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-3231f30>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-8b2b756>a :is(i,
svg) {
    color: var( --e-global-color-white);
    fill: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-8b2b756>a {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-darkdivider);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-8b2b756>a:hover {
    color: var( --e-global-color-accent);
    background-color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-8b2b756>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-d7078ad>a :is(i,
svg) {
    color: var( --e-global-color-white);
    fill: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-d7078ad>a {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-darkdivider);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-d7078ad>a:hover {
    color: var( --e-global-color-accent);
    background-color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .elementor-repeater-item-d7078ad>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media {
    text-align: left;
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 40px;
    height: 40px;
    line-height: 33px;
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media>li {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media>li>a i {
    font-size: 20px;
}

.elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media>li>a svg {
    max-width: 20px;
}

.elementor-4109 .elementor-element.elementor-element-4886936 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
    letter-spacing: var( --e-global-typography-primary-letter-spacing);
    color: var( --e-global-color-primary);
}

.elementor-4109 .elementor-element.elementor-element-a6e2f9a .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    line-height: var( --e-global-typography-secondary-line-height);
    letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav {
    background-color: #02010100;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
    padding: 0px 0px 10px 30px;
}

.elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li:hover>a {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li {
    border-style: none;
}

.elementor-4109 .elementor-element.elementor-element-0fd2ff1 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-2719de1 .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    line-height: var( --e-global-typography-secondary-line-height);
    letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav {
    background-color: #02010100;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
    padding: 0px 0px 10px 30px;
}

.elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li:hover>a {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li {
    border-style: none;
}

.elementor-4109 .elementor-element.elementor-element-aa7ec32 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-d9ad42d .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    line-height: var( --e-global-typography-secondary-line-height);
    letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-3e81429 {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select {
    background-color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input[type="submit"] {
    background-color: var( --e-global-color-white);
    font-size: 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-darkdivider);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form label {
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form label span {
    color: #777777;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select {
    padding: 12px 20px 12px 20px;
    width: 100%;
    height: 50px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea {
    width: 100%;
    height: 176px;
    margin-bottom: 0px;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form .ekit-form-input,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input {
    margin-bottom: 0px;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select {
    border-style: none;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.wpcf7-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.elementor-4109 .elementor-element.elementor-element-af1faa9 .wpcf7-form textarea,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-wid-con .ekit-form form textarea,
.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .wpcf7-form textarea {
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-wid-con .ekit-form form textarea {
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea::-webkit-input-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea::-moz-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea:-ms-input-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea:-moz-placeholder {
    font-size: 18px;
    color: var( --e-global-color-text);
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form>p {
    text-align: left;
}

.elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input[type="submit"]:hover {
    color: #ffffff;
}

.elementor-4109 .elementor-element.elementor-element-7f7e4dd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-top-width: 1px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: var( --e-global-color-darkdivider);
    --border-color: var( --e-global-color-darkdivider);
    --margin-top: 30px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-d4ab6a0 {
    --display: flex;
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-5a09d5e {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
}

.elementor-4109 .elementor-element.elementor-element-7d8e6be {
    --display: flex;
    --align-items: flex-end;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    overflow: visible;
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav {
    background-color: #02010100;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 {
    width: auto;
    max-width: auto;
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-white);
    padding: 0px 30px 0px 0px;
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li:hover>a {
    color: var( --e-global-color-accent);
}

.elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li {
    border-style: none;
}

@media(min-width:768px) {
    .elementor-4109 .elementor-element.elementor-element-d389fb4 {
        --width: calc(25% - 15px);
    }
    .elementor-4109 .elementor-element.elementor-element-4886936 {
        --width: calc(25% - 15px);
    }
    .elementor-4109 .elementor-element.elementor-element-0fd2ff1 {
        --width: calc(25% - 15px);
    }
    .elementor-4109 .elementor-element.elementor-element-aa7ec32 {
        --width: calc(25% - 15px);
    }
    .elementor-4109 .elementor-element.elementor-element-d4ab6a0 {
        --width: 50%;
    }
    .elementor-4109 .elementor-element.elementor-element-7d8e6be {
        --width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-4109 .elementor-element.elementor-element-29d9911::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-video-container::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-video-container::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-slideshow::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: -36px 99%;
        background-size: 30% auto;
    }
    .elementor-4109 .elementor-element.elementor-element-29d9911 {
        --overlay-opacity: 0.2;
        --padding-top: 40px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-4109 .elementor-element.elementor-element-5c1e99c {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
    }
    .elementor-4109 .elementor-element.elementor-element-d389fb4 {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-widget-image .widget-image-caption {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-c6e6271>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-4109 .elementor-element.elementor-element-c6e6271 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-3a1a98c .ekit_social_media>li>a {
        line-height: 34px;
    }
    .elementor-4109 .elementor-element.elementor-element-4886936 {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-a6e2f9a .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-0fd2ff1 {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-4109 .elementor-element.elementor-element-2719de1 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-aa7ec32 {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-4109 .elementor-element.elementor-element-d9ad42d .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-3e81429 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-7f7e4dd {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-4109 .elementor-element.elementor-element-5a09d5e {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
}

@media(max-width:767px) {
    .elementor-4109 .elementor-element.elementor-element-29d9911::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-video-container::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-video-container::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-background-slideshow::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-4109 .elementor-element.elementor-element-29d9911>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: -36px 100%;
        background-size: 65% auto;
    }
    .elementor-widget-image .widget-image-caption {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-c6e6271 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-4886936 {
        --width: calc(50% - 15px);
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-a6e2f9a .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-222c2d9 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-0fd2ff1 {
        --width: calc(50% - 15px);
    }
    .elementor-4109 .elementor-element.elementor-element-2719de1 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-1c34a66 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-d9ad42d .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-4109 .elementor-element.elementor-element-3e81429>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }
    .elementor-4109 .elementor-element.elementor-element-3e81429 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
    .elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form select {
        padding: 10px 15px 10px 15px;
        height: 45px;
    }
    .elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form textarea {
        height: 45px;
    }
    .elementor-4109 .elementor-element.elementor-element-af1faa9 .ekit-form form input[type="submit"] {
        height: 45px;
    }
    .elementor-4109 .elementor-element.elementor-element-7f7e4dd {
        --gap: 5px 5px;
        --row-gap: 5px;
        --column-gap: 5px;
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-4109 .elementor-element.elementor-element-d4ab6a0 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-4109 .elementor-element.elementor-element-5a09d5e {
        text-align: center;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-4109 .elementor-element.elementor-element-7d8e6be {
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-4109 .elementor-element.elementor-element-0e11e25 .ekit-vertical-navbar-nav>li>a {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4109 .elementor-element.elementor-element-29d9911 {
        --content-width: 100%;
    }
    .elementor-4109 .elementor-element.elementor-element-5c1e99c {
        --width: 100%;
    }
    .elementor-4109 .elementor-element.elementor-element-d389fb4 {
        --width: 100%;
    }
    .elementor-4109 .elementor-element.elementor-element-4886936 {
        --width: calc(33.33% - 20px);
    }
    .elementor-4109 .elementor-element.elementor-element-0fd2ff1 {
        --width: calc(25% - 20px);
    }
    .elementor-4109 .elementor-element.elementor-element-aa7ec32 {
        --width: calc(41.33% - 20px);
    }
    .elementor-4109 .elementor-element.elementor-element-7f7e4dd {
        --width: 100%;
    }
}